<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h5 style="float: left;"><i class="fa fa-qrcode"></i> Add Device QR Code</h5>

        </div>
        <div class="card-body">

            <div class="row mr-1 ml-1">
                <div class="col-8 pt-4 pb-2" style="background: #f8f8f8;">
                    <form [formGroup]="formModel" class="form-horizontal" autocomplete="off" (submit)="onSubmit()">

                        <div class="form-group row">
                            <label for="appEui" class="col-md-3 col-form-label required">App EUI</label>
                            <div class="col-md-6">
                                <input type="text" maxlength="23" minlength="23" formControlName="appEui"
                                    class="form-control" placeholder="00 00 00 00 00 00 00 00"
                                    (keydown)="keyPressAlphanumeric($event)"
                                    oninput="this.value = this.value.toUpperCase()" (keyup)="myFunction($event)">
                                <label class="text-danger"
                                    *ngIf="formModel.get('appEui').touched && formModel.get('appEui').errors?.required">App
                                    EUI is required</label>
                                <label class="text-danger"
                                    *ngIf="formModel.get('appEui').touched && (formModel.get('appEui').errors?.minlength || formModel.get('appEui').errors?.maxlength)">App
                                    EUI must be 8byte</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="devEui" class="col-md-3 col-form-label required">Dev EUI</label>
                            <div class="col-md-6">
                                <input type="text" maxlength="23" minlength="23" formControlName="devEui"
                                    class="form-control" placeholder="00 00 00 00 00 00 00 00"
                                    (keydown)="keyPressAlphanumeric($event)"
                                    oninput="this.value = this.value.toUpperCase()" (keyup)="myFunction($event)">
                                <label class="text-danger"
                                    *ngIf="formModel.get('devEui').touched && formModel.get('devEui').errors?.required">App
                                    EUI is required</label>
                                <label class="text-danger"
                                    *ngIf="formModel.get('devEui').touched && (formModel.get('devEui').errors?.minlength || formModel.get('appEui').errors?.maxlength)">App
                                    EUI must be 8byte</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="appKey" class="col-md-3 col-form-label required">App Key</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="appKey" class="form-control" style="width:330px"
                                    placeholder="00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00" maxlength="47"
                                    minlength="47" (keydown)="keyPressAlphanumeric($event)"
                                    oninput="this.value = this.value.toUpperCase()" (keyup)="myFunction($event)">
                                <label class="text-danger"
                                    *ngIf="formModel.get('appKey').touched && formModel.get('appKey').errors?.required">App
                                    Key
                                    is required</label>
                                <label class="text-danger"
                                    *ngIf="formModel.get('appKey').touched && (formModel.get('appKey').errors?.minlength || formModel.get('appEui').errors?.maxlength)">App
                                    Key
                                    must be 16 byte</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lorawanVersion" class="col-md-3 col-form-label required">Lorawan Version</label>
                            <div class="col-md-6">
                                <select class="form-control" formControlName="lorawanVersion">
                                    <option value="">--Select Lorawan Version--</option>
                                    <option *ngFor="let item of lorawanVersions" [value]="item.id">{{item.name}}
                                    </option>
                                </select>
                                <label class="text-danger"
                                    *ngIf="formModel.get('lorawanVersion').touched && formModel.get('lorawanVersion').errors?.required">Lorawan
                                    Version

                                    is required</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label required">Lorawan Class Capabilities</label>
                            <div class="col-md-9">
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="checkbox" formControlName="supportsClassB">
                                    <label class="form-check-label" for="supportsClassB">Support Class b</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="checkbox" formControlName="supportsClassC">
                                    <label class="form-check-label" for="supportsClassC">Support Class c</label>
                                </div>
                            </div>
                        </div>


                        <div
                            style=" background-color: lightgoldenrodyellow;background-color: #f8f8f8; padding: 1rem;
                                                                                        margin-top: 1.5rem;border-top: 1px solid #dfdfdf;">
                            <button type="submit" class="btn btn-primary float-right"
                                [disabled]="!formModel.valid || isLoading">
                                <img *ngIf=" isLoading" src="../../../../assets/spinner.gif" width="25px" /> Generate
                                Qr
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>


</div>