<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <h5 style="float: left;"><i class="icon-lock"></i> Change Password</h5>
            <div class="card-header-actions">
                <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
                    *ngIf='!isCollapsed'><i class="fa fa-minus-circle"></i> Collapse
                </button>
                <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
                    *ngIf='isCollapsed'><i class="fa fa-plus-circle"></i> Expand
                </button>
            </div>
        </div>
        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
            <div class="row">
                <div class="col-5">
                    <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
                        <div class="form-group">
                            <label class="col-form-label" for="oldPassword">Old Password</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input formControlName="oldPassword" class="form-control "
                                        placeholder="Old Password" type="text">

                                </div>
                                <label class="text-danger"
                                    *ngIf="formModel.get('oldPassword').touched && formModel.get('oldPassword').errors?.required">Old
                                    Password
                                    is required</label>
                                <label class="text-danger"
                                    *ngIf="formModel.get('oldPassword').touched && formModel.get('oldPassword').errors?.minlength">Minimum
                                    4 Characters is required </label>
                            </div>

                        </div>
                        <div formGroupName="Passwords">
                            <div class="form-group">
                                <label class="col-form-label" for="newPassword">New Password</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input formControlName="newPassword" class="form-control "
                                            placeholder="New Password" type="text">
                                    </div>
                                    <label class="text-danger"
                                        *ngIf="formModel.get('Passwords.newPassword').touched && formModel.get('Passwords.newPassword').errors?.required">Password
                                        is required</label>
                                    <label class="text-danger"
                                        *ngIf="formModel.get('Passwords.newPassword').touched && formModel.get('Passwords.newPassword').errors?.minlength">Minimum
                                        4 Characters is required </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="confirmNewPassword">Confirm New Password</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input formControlName="confirmNewPassword" class="form-control "
                                            placeholder="Confirm New Password" type="text">
                                    </div>
                                    <label class="text-danger"
                                        *ngIf="formModel.get('Passwords.confirmNewPassword').touched && formModel.get('Passwords.confirmNewPassword').errors?.required">Password
                                        is required</label>
                                    <label class="text-danger"
                                        *ngIf="formModel.get('Passwords.confirmNewPassword').touched && formModel.get('Passwords.confirmNewPassword').errors?.matching">The
                                        passwords do not match
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div
                            style=" background-color: lightgoldenrodyellow;;;background-color: #f8f8f8; padding: 1rem;
                                                                        margin-top: 1.5rem;border-top: 1px solid #dfdfdf;">
                            <button type="submit" class="btn btn-primary right" [disabled]="!formModel.valid"><i
                                    class="fa fa-key"></i> Change
                                Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>